#main {
  width: 130px;
  height: 130px;
  background: white; x: url(images/docked.png);
  font-size: 8pt;
}

#flyout {
  width: 200px;
  height: 130px;
  background-color: white;
  font-size: 8pt;
}

#gadget {
  position: absolute;
  left: 0px;
  top: 0px;
}

#setup {
  position: absolute;
  left: 0px;
  top: 85px;
  padding: 5px;
}

ul {
    list-style: none inside;
}
